.container {
  max-width: 100% !important; /* Override Bootstrap's container width */
  width: 100%;
  padding: 0 1rem; /* Optional: Adjust padding for readability */
}

.navbar {
  background-color: #008080;
}

.navbar .navbar-brand, .nav-link {
  color: #FFFFFF;
}

table, th, td {
  border: 2px solid;
  border-color: #FFFFFF;
}

table tr:first-of-type {
  color: white;
  background-color: #008080; /* Unique color for the first row */
  font-weight: bold; /* Optional bold text */
}

tr:nth-child(even), th {
  background-color: #E5F2F2;
}

table td, table th {
  padding-left: 10px; /* Adjust the value as needed for desired spacing */
}

h1 {
  text-align: center;
}

.section-header {
  background-color: #66b2b2 !important;
  text-align: center;
  font-weight: bold;
  color: white !important;
}

.row {
  display: flex;
  flex-wrap: wrap; /* Ensures responsiveness */
  gap: 20px; /* Adds space between columns */
}

.col {
  flex: 1; /* Allows columns to adjust to available space */
  min-width: 300px; /* Ensures columns don't shrink too much */
  box-sizing: border-box; /* Includes padding in width */
}
